---
import SunIcon from "@/components/icons/SunIcon";
import MoonIcon from "@/components/icons/MoonIcon";
---

<div class="theme relative cursor-pointer">
  <span class="sun-logo
						h-fit
						w-fit
						opacity-0
						transition-transform
						duration-500">
    <SunIcon />
  </span>
  <span class="moon-logo absolute inset-0 h-fit w-fit opacity-0 transition-transform duration-500">
    <MoonIcon />
  </span>
</div>
